Are all Authorization Servers in the chain required to support the app2app model and the native authorization endpoint?

I realize the _Client App_ is acting a bit like the browser for these cross domain flows. However, with a web browser, it is common for the AS (acting as an OAuth client) to ensure that the user-agent used to invoke the authorization request is the same user-agent via which the redirect URL comes. This is handled with the state parameter and a cookie or a particular implementation of PKCE. I'm wondering how this security provision is preserved with the _Client App_ simulating the web-browser.

We had similar thoughts when moving to OAuth as REST API with native_authorization_endpoint, and removing cookies as a mechanism of AS binding stuff to the user agent.
Our conclusions were:
- OAuth specifies no requirement or mechanism based on cookies to bind state to the user agent.
- The only provision I found is in the later [BCP rfc 9700](https://www.rfc-editor.org/rfc/rfc9700.html#section-4.2.4): "Bind the authorization code to a confidential client or PKCE challenge".
- PKCE implementation and binding is not the AS' concern rather the client's (which might be a federating AS).

My understanding is that [section 10.2 of RFC 6749](https://datatracker.ietf.org/doc/html/rfc6749#section-10.12) was specifically added to identify this binding... here is an excerpt...

>   The client MUST implement CSRF protection for its redirection URI.
   This is typically accomplished by requiring any request sent to the
   redirection URI endpoint to include a value that binds the request to
   the user-agent's authenticated state (e.g., a hash of the session
   cookie used to authenticate the user-agent).  The client SHOULD
   utilize the "state" request parameter to deliver this value to the
   authorization server when making an authorization request.

My conclusion from both this and the PKCE #18 issue, is that support for cookies **must** be reinstated into the draft.
I'll use an interim to discuss the issue and the conclusions